<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Parrot me</title>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="recorder.js"></script>
</head>

<body>
    <h1>{{ title }}</h1>
    <p>Nice one dude !</p>
    <!--<button onclick="startRecording(this);">record</button>-->
    <!--<button onclick="stopRecording(this);" disabled>stop</button>-->

    <h2>Recordings</h2>
  <ul id="recordingslist"></ul>

  <h2>Log</h2>
  <pre id="log"></pre>

    <h3>word</h3>

</body>

